body {
    background-color : #c0b1b148;
    font-family: Arial, Helvetica, sans-serif;
}
h1{
    font-weight: 800;
    font-size: 36px;
    line-height: 2;
    color:#51079c;
    text-align: center;

}
.instruction {
    padding: 16px;
    border:1px solid rgba(39,33,66.0.5);
    width: 80%;
    font-size: 16px;
    border-radius: 50px;
    line-height: 20px;
    background-color:#c0b1b148;
}
.button {
    margin-left: 10px;
    background: #51079c;
    color:white;
    border: none;
    width: 150px;
    font-size: 16px;
    border-radius: 50px;
    padding: 14px 24px;

}
.container {
    margin:120px auto;
    max-width: 600px;
}
header{
    margin-bottom: 30px;
}
form{
    display:flex;
}
@keyframes blink {
    50% {
        opacity: 0.0;
    }
    }
    .generating {
        animation: blink 1s step-start 0s infinite;
    }
.hint{
    line-height: 1.5;
    font-size: 15px;
    margin-top: 90px;
    opacity: 0.6;
}
.hidden {
    display: none;
}
.form-container{
padding:15px 20px;
    background-color: white;
    box-shadow: 0px 20px 60px rgba(65,50,100,0.08);
    border-radius: 10px;
    margin-bottom: 50px;
}
.poem{
    font-size: 20px;
    background-color: #fff;
    padding: 20px;
    line-height: 2;
    border-left: 9px solid #51079c;
    box-shadow: 0px 4px 30px 0px rgba(39,33,66,0.03);
}
footer{
    text-align: center;
    font-size: 13px;
    margin-top: 30px;
}
a{
    color:#51079c;
}